<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Social platform for pilots and passengers" content="">
    <meta name="DarkSociety" content="">

    <title>_BlairLines - DarkSociety</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/blairlines.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui.min.css">
    <!--STYLES END-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="/js/public/CompareToDirective.js"></script>
    <script src="/js/public/event.js"></script>
    <script src="/js/public/user.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/ejs_production.js"></script>
    <script src="/js/vendor/jquery-ui.min.js"></script>
    <!--SCRIPTS END-->

</head>

<body>

        <div id="navbar" class="navbar navbar-default navbar-fixed-top">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <form action="/user/login" class="navbar-form navbar-right login-form">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="email"  name="email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password"/>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
          <div class="container user-indicator" style="text-align: right; display: none;">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 20px;"></span><span class="username" style="margin-left: 10px; margin-right: 10px;"></span><a href="#" class="exit">Exit</a>&rarr;
          </div>
        </div>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle" style="top: 53px;"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-minus-circle fa-2x"></i></a>
            <li class="sidebar-brand">                
                <a href="#top"  onclick = $("#menu-close").click(); >BlairLines</a>
            </li>
            <li>                
                <a href="#top" onclick = $("#menu-close").click(); ><i class="fa fa-home fa-lg"></i>&nbsp;Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); ><i class="fa fa-book fa-lg"></i>&nbsp;About</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); ><i class="fa fa-plane fa-lg"></i>&nbsp;Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); ><i class="fa fa-calendar fa-lg"></i>&nbsp;Events</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); ><i class="fa fa-phone-square fa-lg"></i>&nbsp;Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header" style="padding-top: 85px;">
        <div class="text-vertical-center" >
            <h1>BlairLines</h1>
            <h3>Fly with your Family &amp; Friends</h3>
            <br>
            <a href="#" class="btn btn-dark btn-lg get-started">Get started</a>
            <a href="#" class="btn btn-dark btn-lg create-event" style="display: none;">Create event</a>

            <div class="header-forms container" style="text-align: left;">
            <div class="container sign-up" style="width: 400px; display: none; background: white; opacity: 0.87; padding: 30px;">

                <div class="starter-template" style="padding: 40px 15px; text-align: center;">
                    <h2>Signup form</h2>

                </div>
            
                <form action="/user/create" class="signup-form">
                    <p class="bg-warning"></p>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" id="exampleInputEmail1"  name="email"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"/>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="userType" id="optionsRadios1" value="1" checked>
                        Passenger
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="userType" id="optionsRadios2" value="2" >
                        Pilot
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="userType" id="optionsRadios3" value="3" >
                        Club
                      </label>
                    </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="container club-profile" style="width: 400px; display: none; background: white; opacity: 0.87; padding: 30px;">

                <div class="starter-template" style="padding: 40px 15px; text-align: center;">
                    <h2>Fill your club's profile</h2>
                </div>
            
                <form action="/club/create" class="profile-form">
                    <p class="bg-warning"></p>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName"  name="name"/>
                    </div>
                    <div class="form-group">
                        <label for="inputContactPerson">Contact person</label>
                        <input type="text" class="form-control" id="inputContactPerson" name="contactPerson" />
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone</label>
                        <input type="text" class="form-control" id="inputPhone" name="phone"/>
                    </div>
                    <div class="form-group">
                        <label for="inputLocation">Location</label>
                        <input type="text" class="form-control" id="inputLocation" name="location"/>
                    </div>
                    <div class="form-group">
                        <label for="inputWorkingHours">Working hours</label>
                        <input type="text" class="form-control" id="inputWorkingHours" name="workingHours"/>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea class="form-control" id="inputDescription" name="description"></textarea>
                    </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="container pilot-profile" style="width: 400px; display: none; background: white; opacity: 0.87; padding: 30px;">

                <div class="starter-template" style="padding: 40px 15px; text-align: center;">
                    <h2>Fill your pilot's profile</h2>
                </div>
            
                <form action="/pilot/create" class="profile-form">
                    <p class="bg-warning"></p>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName"  name="name"/>
                    </div>
                    <div class="form-group">
                        <label for="inputAge">Age</label>
                        <input type="text" class="form-control" id="inputAge" name="age" style="width: 50px;"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone</label>
                        <input type="text" class="form-control" id="inputPhone" name="phone"/>
                    </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="container passenger-profile" style="width: 400px; display: none; background: white; opacity: 0.87; padding: 30px;">

                <div class="starter-template" style="padding: 40px 15px; text-align: center;">
                    <h2>Fill your profile</h2>
                </div>
            
                <form action="/passenger/create" class="profile-form">
                    <p class="bg-warning"></p>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName"  name="name"/>
                    </div>
                    <div class="form-group">
                        <label for="inputAge">Age</label>
                        <input type="text" class="form-control" id="inputAge" name="age" style="width: 50px;"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPhone">Phone</label>
                        <input type="text" class="form-control" id="inputPhone" name="phone"/>
                    </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

            <div class="container event-block" style="width: 400px; display: none; background: white; opacity: 0.87; padding: 30px;">
                
                    <h2 style="text-align: center;">Create new event</h2>
                
                <form action="/event/create" class="create-event-form">
                    <p class="bg-warning"></p>
                    <div class="form-group">
                        <label for="inputDate">Date</label>
                        <input type="text" class="form-control" id="inputDate" name="date" style="width: 150px;"/>
                    </div>
                    <div class="form-group">
                        <label for="inputTime">Time</label>
                        <input type="text" class="form-control" id="inputTime" name="time"/>
                    </div>
                    <div class="form-group">
                        <label for="inputDescr">Event Description</label>
                        <textarea class="form-control" id="inputDescr" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="eventType">
                          <option value="1">Promo event</option>
                          <option value="2">Intro-flight</option>
                          <option value="3">Scenic flight</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="club">
                          <!-- Ajax request here -->
                        </select>
                    </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>


        </div>

        </div>


        
    </header>



    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Explore the scenery of New Zealand!</h2>
                    <p class="lead">FlyHigh features spectacle places of New Zealand. Photography courtesy of <a target="_blank" href="http://DarkSociety.com/">Dark Society</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-plane fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Small Plane</strong>
                                </h4>
                                <p>Explore NZ by yourself.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-fighter-jet fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Fighter Jet</strong>
                                </h4>
                                <p>Explore NZ with you Family.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-space-shuttle fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Space Shuttle</strong>
                                </h4>
                                <p>Explore NZ with Friends.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-wheelchair fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>WheelChair</strong>
                                </h4>
                                <p>Explore NZ after plane accident.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Events</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/portfolio-1.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/portfolio-2.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/portfolio-3.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="images/portfolio-4.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.876579596066!2d174.763113!3d-36.84543179999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47fa1261418d%3A0xb72b284a26b2b646!2sNtec+-+National+Tertiary+Education+Consortium!5e0!3m2!1sen!2snz!4v1438827181064" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br />        
    </section>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>BlairLines</strong>
                    </h4>
                    <p>20 Hobson Street Ntec Tower<br>Auckland CBD, NZ 1010</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (64) 022-1876594</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">DarkSociety@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; FlyHigh.co.nz 2015</p>
                </div>              
            </div>
        </div>
    </footer>

    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>
</html>
